*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

nav ul li {
    list-style: none;
}

nav ul li a {
    color: black;
    text-decoration: none;
}

header {
    display: flex;
    height: 100px;
    width: 100%;
}

.div-logo-header {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-logo-header img {
    height: 50px;
}

header nav {
    height: 100%;
    width: 90%;
}

header nav ul {
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
}

header nav ul li a {
    text-decoration: none;
}

.welcome-background-img {
    height: 500px;
    background: url(../asset/img/just-do-it.jpg);
    background-size: cover;
    background-position: center;
}


.wrap {
    margin: 100px 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-article {
    display: flex;
    width: 100%;
    height: 300px;
    box-shadow: 5px 5px 3px rgb(0, 0, 0, 0.25);
    margin-bottom: 50px;
}
.card-article:nth-child(2) {
    flex-direction: row-reverse;
}

.content-article {
    width: 70%;
    padding: 30px 25px;
    border: 1px solid rgb(0, 0, 0, 0.25);
}

.content-article h1 {
    font-size: 2rem;
    margin-bottom: 10px;
}

.date-article {
    margin-bottom: 20px;
}

.text-article {
    text-align: justify;
    font-size: 1.35rem;
}

.img-article1 {
    height: 100%;
    width: 30%;
    background: url(../asset/img/nike-mag.jpg);
    background-size: cover;
    background-position: center;
}

.img-article2 {
    height: 100%;
    width: 30%;
    background: url(../asset/img/nike2.jpg);
    background-size: cover;
    background-position: center;
}

.img-article3 {
    height: 100%;
    width: 30%;
    background: url(../asset/img/nike3.jpg);
    background-size: cover;
    background-position: center;
}

.img-article4 {
    height: 100%;
    width: 30%;
    background: url(../asset/img/nike4.jpg);
    background-size: cover;
    background-position: center;
}

.img-article5 {
    height: 100%;
    width: 30%;
    background: url(../asset/img/nike5.jpg);
    background-size: cover;
    background-position: center;
}

.img-article6 {
    height: 100%;
    width: 30%;
    background: url(../asset/img/nike6.jpg);
    background-size: cover;
    background-position: center;
}

#more-article-section {
    display: none;
}

.more-article-btn {
    width: 400px;
    max-width: 450px;
    background: #a40c18;
    padding: 25px;
    color: white;
    font-size: 1.5rem;
    font-weight: bold;
    border: none;
    border-radius: 50px;
    outline: none;
}

footer {
    width: 100%;
    height: 200px;
    display: flex;
}

.div-logo-footer {
    height: 100%;
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-logo-footer img {
    height: 50px;
}

.footer-link {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    align-items: center;
}

.footer-link p {
    font-weight: bold;
}


@media only screen and (max-width: 1050px) {
    header {
        flex-direction: column;
    }
    .div-logo-header {
        width: auto;
        margin-top: 5px;
    }
    .div-logo-header img {
        height: 40px;
    }
    header nav {
        width: auto;
    }
    .welcome-background-img {
        height: 250px;
    }

    .wrap {
        margin: 25px;
    }
    .card-article {
        flex-direction: column;
        height: 600px;
        margin-bottom: 25px;
    }
    .card-article:nth-child(2) {
        flex-direction: column;
    }
    .content-article {
        width: auto;
        height: 50%;
    }
    .text-article {
        font-size: 1rem
    }
    .img-article1 {
        width: auto;
        height: 50%;
    }
    .img-article2 {
        width: auto;
        height: 50%;
    }
    .img-article3 {
        width: auto;
        height: 50%;
    }
    .img-article4 {
        width: auto;
        height: 50%;
    }
    .img-article5 {
        width: auto;
        height: 50%;
    }
    .img-article6 {
        width: auto;
        height: 50%;
    }
    .more-article-btn {
        width: 100%;
        padding: 15px;
        font-size: 1.25rem;
    }

    footer {
        flex-direction: column;
        align-items: flex-start;
        height: auto;
        padding-left: 25px;
        margin-bottom: 25px;
    }
    .div-logo-footer {
        width: auto;
        margin-bottom: 25px;
    }
    .div-logo-footer img {
        height: 40px;
    }
    .footer-link {
        width: auto;
        flex-direction: column;
    }

    footer nav {
        margin-bottom: 20px;
    }
}